# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual Environments
venv/
.venv/
env/
.env

# IDE settings (VS Code, PyCharm, etc.)
.vscode/
.idea/

# OS junk files
.DS_Store
Thumbs.db

# Large Data & Models (Crucial for Deep Learning!)
# You typically don't want to push massive datasets or model weights to GitHub
*.csv
*.zip
*.tar.gz
models/
data/
*.pt
*.pth
*.h5
